<!doctype html>
<html class="no-js">
<head>
    @@include('slice_head.html')
</head>
<body>
<header>
    @@include('slice_header.html')
</header>
@@include('slice_block1_image.html')
@@include('slice_blocks2.html')
@@include('slice_bio_3_buttons.html')
@@include('slice_block1.html')
@@include('slice_al_4.html')
@@include('slice_slideshow_mini.html')
@@include('slice_blocks2.html')
@@include('slice_al_3.html')
<footer>
    @@include('slice_footer.html')
</footer>
@@include('slice_footerbar.html')
</body>
</html>


