<section class="slice_bio_3_buttons">
    <div class="container">
        <div class="block2-1">
            <img src="../images/bio-image.jpg" class="bio-image" />
        </div>
        <div class="block2-2">
            <div class="ArticleBody">
                We are a Christian Church made up of men, women and children from over 20 nations.  Are you new to the Church or the area? You are very welcome. Please do check out our ‘New to Church?’ page. There is something for everyone, in line with God’s will, as revealed in His Word.

                Our corporate meeting starts at 10.00am prompt on Sunday mornings and will last for two hours.  Come and enjoy great music, teaching, and prayers, followed by fellowship & refreshments.
                We look forward to seeing you.  Please see the map below for directions.

                If you would like more information or have any questions, we would love to hear from you.

                <a href="#" class="bio-button">Get in touch</a>
            </div>
            <div class="block3">
            <a class="bio-button good-news" href="#">GOOD NEWS</a>
            <a class="bio-button events" href="#">EVENTS</a>
            <a class="bio-button media" href="#">MEDIA</a>
            </div>
        </div>
    </div>
</section>