<section class="slice_block3_full_width">
    <div class="blocks">
        <div class="block1">
            <div class="block-text">
                <h1>FACILITIES<br>FOR HIRE</h1>
                <a href="#">Hire Now</a></div>
        </div>
        <div class="block2">
            <div class="block-text">
                <h1>LOCATION<br>&nbsp;</h1>
                <a href="#">Visit Us</a></div>
        </div>
        <div class="block3">
            <div class="block-text">
                <h1>COFFEE<br/>SHOP</h1>
                <a href="#">Details</a></div>

        </div>
    </div>
</section>
