<footer>
    <section class="slice_footertop1">
        <div class="container">
            <div class="footer-column footer-column-1">
                <div>King’s Church, 159 Chipperfield Road, St Paul’s Cray, Orpington, BR5 2PZ</div>
                <div class="footer-email">Email:&nbsp; <span><a href="mailto:hello@churchinsight.com">hello@churchinsight.com</a></span>
                </div>
                <div class="footer-phone">Tel:&nbsp;<a class="footer-link" href="tel:+44 (0) 1223 790478">+44 (0) 1223 790478</a></div>


            </div>
            <div class="footer-column footer-column-2">
                <a class="logo-nf" href="#" target="_blank"><img src="../images/logo-new-frontiers.png" /></a>
                <a class="logo-ea" href="#" target="_blank"><img src="../images/logo-ea.png" /></a>
            </div>
            <div class="footer-column footer-column-3">
                <div class="ArticleBody">
                    <a class="footer_icon_block facebook" href="https://www.facebook.com/" target="_blank"><i
                            class="journey-icon-facebook"></i> </a> <a
                        class="footer_icon_block twitter" href="https://twitter.com/" target="_blank"> <i
                        class="journey-icon-twitter"></i> </a> <a
                        class="footer_icon_block instagram" href="https://www.instagram.com/" target="_blank"> <i
                        class="journey-icon-instagram"></i> </a>
                </div>
            </div>
            <div class="footer-column footer-column-4">
                <div>
                    <label class="search_title" for="_ctl0__ctl0_cphBody__ctl7_searchSite">Site Search</label>


                    <div class="search_div"
                         onkeydown="if(event.keyCode==13){document.getElementById('_ctl0__ctl0_cphBody__ctl7_searchSiteGo').click();return false}else{return true}">
                        <input type="text" id="_ctl0__ctl0_cphBody__ctl7_searchSite" name="searchSite" size="22"
                               value="Search the Site" onblur="if(this.value==''){this.value='Search the Site';}"
                               onfocus="if(this.value=='Search the Site'){this.value='';}" class="text">
                    </div>

                    <input type="button" id="_ctl0__ctl0_cphBody__ctl7_searchSiteGo" value="Go" class="button"
                           onclick="doSiteSearch(this.id,'Search the Site',false,null,null);">

                </div>
            </div>

        </div>
    </section>
</footer>