<section class="slice_list_2">
    <div class="container">
        <h1>
            Courses</h1>

        <div class="sub-title">
            Here at King's Church we run various courses throughout the year covering a wide range of topics. Click on a
            course
            below for dates and information.
        </div>

        <div class="courses">
            <div class="course-list">
                <a class="course-link" href="#">Envisioning</a> <a class="course-link" href="#">Intercession / Prayer
                Ministry</a> <a class="course-link" href="#">Freedom in Jesus (Spirtual Warfare)</a> <a
                    class="course-link"
                    href="#">Coaching &
                Mentoring</a> <a class="course-link" href="#">Christian Marriage</a></div>

            <div class="course-list">
                <a class="course-link" href="#">Christian Parenting</a> <a class="course-link" href="#">Emotional
                Stability</a>
                <a class="course-link" href="#">Building Effective Teams</a> <a class="course-link"
                                                                                href="#">Singleness</a> <a
                    class="course-link" href="#">Time Management</a></div>
        </div>
    </div>
</section>
