<section class="slice_bio">
    <div class="container">
        <h1>Our Stories</h1>
        <div class="block2-1">
            <img src="../images/our-stories-pearl.jpg" class="bio-image" />
        </div>
        <div class="block2-2">
            <div class="ArticleBody">
                “Maecenas vehicula purus et venenatis semper. Nunc id nisl urna. In hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi fringilla erat sed metus molestie, at pulvinar quam vehicula. Fusce tincidunt interdum mauris id scelerisque. Integer aliquam elit a feugiat rutrum. Sed elementum faucibus consequat. Integer dapibus, urna ac pretium vehicula, eros diam congue leo, id auctor dolor urna sed mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
                <br/>
                Pearl.
            </div>
            <a href="#" class="button good-news-stories">More good news stories</a>
        </div>
    </div>
</section>