<section class="slice_cal_4">
    <div class="container">
        <h1>
            Regular Events</h1>
        <div class="regularEvents">
            <div id="_ctl0__ctl0_cphBody__ctl6__ctl0__ctl0__ctl0">
                <div class="articleListImage"><a id="_ctl0__ctl0_cphBody__ctl6__ctl0__ctl0__ctl2_hlItem"
                                                 href="#"><img
                        src="/Publisher/GetResizedImage.aspx?w=262&amp;h=156&amp;url=../images/sundays.jpg"
                        alt=""></a>
                </div>
                <div class="articleListTitle"><a id="_ctl0__ctl0_cphBody__ctl6__ctl0__ctl0__ctl3_hlTitle"
                                                 href="#">Sundays</a>
                </div>
                <div class="articleListSummary"><span id="_ctl0__ctl0_cphBody__ctl6__ctl0__ctl0__ctl4_lblSummary">Lorem ipsum dolor sit amet, ex pro torquatos complectitur. Te congue offendit his, option praesent an vim.</span>
                </div>
                <div class="articleListLink">Read more</div>
            </div>
            <div id="_ctl0__ctl0_cphBody__ctl6__ctl0__ctl1__ctl0">
                <div class="articleListImage"><a id="_ctl0__ctl0_cphBody__ctl6__ctl0__ctl1__ctl2_hlItem"
                                                 href="#"><img
                        src="/Publisher/GetResizedImage.aspx?w=262&amp;h=156&amp;url=../images/healing-service.jpg"
                        alt=""></a>
                </div>
                <div class="articleListTitle"><a id="_ctl0__ctl0_cphBody__ctl6__ctl0__ctl1__ctl3_hlTitle"
                                                 href="#">Healing Service</a>
                </div>
                <div class="articleListSummary"><span id="_ctl0__ctl0_cphBody__ctl6__ctl0__ctl1__ctl4_lblSummary">Lorem ipsum dolor sit amet, ex pro torquatos complectitur. Te congue offendit his, option praesent an vim. Lorem ipsum dolor sit amet, ex pro torquatos complectitur. Te congue offendit his, option praesent an vim.</span>
                </div>
                <div class="articleListLink">Read more</div>
            </div>
            <div id="_ctl0__ctl0_cphBody__ctl6__ctl0__ctl2__ctl0">
                <div class="articleListImage"><a id="_ctl0__ctl0_cphBody__ctl6__ctl0__ctl2__ctl2_hlItem"
                                                 href="#"><img
                        src="/Publisher/GetResizedImage.aspx?w=262&amp;h=156&amp;url=../images/ask.jpg"
                        alt=""></a>
                </div>
                <div class="articleListTitle"><a id="_ctl0__ctl0_cphBody__ctl6__ctl0__ctl2__ctl3_hlTitle"
                                                 href="#">Ask</a>
                </div>
                <div class="articleListSummary"><span id="_ctl0__ctl0_cphBody__ctl6__ctl0__ctl2__ctl4_lblSummary">Lorem ipsum dolor sit amet, ex pro torquatos complectitur. Te congue offendit his, option praesent an vim.</span>
                </div>
                <div class="articleListLink">Read more</div>
            </div>
            <div id="_ctl0__ctl0_cphBody__ctl6__ctl0__ctl3__ctl0">
                <div class="articleListImage"><a id="_ctl0__ctl0_cphBody__ctl6__ctl0__ctl3__ctl2_hlItem"
                                                 href="#"><img
                        src="/Publisher/GetResizedImage.aspx?w=262&amp;h=156&amp;url=../images/courses.jpg"
                        alt=""></a>
                </div>
                <div class="articleListTitle"><a id="_ctl0__ctl0_cphBody__ctl6__ctl0__ctl3__ctl3_hlTitle"
                                                 href="#">Courses</a>
                </div>
                <div class="articleListSummary"><span id="_ctl0__ctl0_cphBody__ctl6__ctl0__ctl3__ctl4_lblSummary">Lorem ipsum dolor sit amet, ex pro torquatos complectitur. Te congue offendit his, option praesent an vim.</span>
                </div>
                <div class="articleListLink">Read more</div>
            </div>
        </div>
    </div>
</section>