<section class="slice_bio_3_buttons">
    <div class="container">
        <h1>Hello and Welcome</h1>
        <div class="block2-1">
            <img src="../images/bio-image.jpg" class="bio-image" />
        </div>
        <div class="block2-2">
            <div class="ArticleBody">
                We are a Christian Church made up of men, women and children from over 20 nations.  Are you new to the Church or the area? You are very welcome. Please do check out our ‘New to Church?’ page. There is something for everyone, in line with God’s will, as revealed in His Word.

                Our corporate meeting starts at 10.00am prompt on Sunday mornings and will last for two hours.  Come and enjoy great music, teaching, and prayers, followed by fellowship & refreshments.
                We look forward to seeing you.  Please see the map below for directions.

                If you would like more information or have any questions, we would love to hear from you.<br/>

                <a href="#" class="button get-in-touch">Get in touch</a>
            </div>
            <div class="block3">
                <div class="bio-icon-block"><a class="bio-icon good-news" href="#">GOOD NEWS</a></div>
                <div class="bio-icon-block"><a class="bio-icon events" href="#">EVENTS</a></div>
                <div class="bio-icon-block"><a class="bio-icon media" href="#">MEDIA</a></div>
            </div>
        </div>
    </div>
</section>